@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@theme {
    --font-titl: "Oswald", sans-serif;
    --font-prim: "Roboto", sans-serif;

    --color-prim: navy;
    --color-secd: grey;
    --color-back: white;
    --color-accn: silver;
    --color-text: black;

    --animate-gears: Gearing 5s ease infinite;
    --animate-banner: BannerPanIn 5s ease forwards;
    --animate-fadeIn: fading 1s ease forwards;

    @keyframes fading {
        from {opacity: 0} to {opacity: 1}
    }

    @keyframes Gearing {
        100% {
            rotate: 360deg;
        }
    }

    @keyframes BannerPanIn {
        0% {
            background-position-y: 100%;
        } 100% {
            background-position-y: 45%;
        }
    }
}