@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@theme {
    --font-titl: "Tektur", sans-serif;
    --font-prim: "IBM Plex Sans Condensed", sans-serif;

    --color-prim: navy;
    --color-secd: grey;
    --color-back: white;
    --color-accn: silver;
    --color-text: black;

    --animate-gears: Gearing 5s ease infinite;
    --animate-banner: BannerPanIn 5s ease forwards;
    --animate-fadeIn: fading 1s ease forwards;
    --animate-dropIn: droppingIn 1s ease-in forwards;
    --animate-glowUp: glowingUp 0.5s ease-in forwards;

    @keyframes glowingUp {
        0% {outline-color: lightblue} 50% {outline-color: white;} 100% {outline-color: lightblue;}
    }

    @keyframes fading {
        from {opacity: 0} to {opacity: 1}
    }

    @keyframes droppingIn {
        from {transform: translateY(-30vh);} to {transform: translateY(0);}
    }

    @keyframes Gearing {
        100% {
            rotate: 360deg;
        }
    }

    @keyframes BannerPanIn {
        0% {
            background-position-y: 100%;
        } 100% {
            background-position-y: 55%;
        }
    }
}